.git
.github
.venv
.vscode
.idea
.editorconfig
.prettierrc
.prettierignore
.pre-commit-config.yaml
pyproject.toml
docker-compose.yml
Makefile
*.md
*.egg-info
*.pyc
__pycache__
node_modules
dist
frontend/dist
frontend/node_modules
backend/__pycache__
.env
