@import "tailwindcss";

@theme {
  --color-accent: #553f6f;
  --color-accent-light: #7c6897;
  --color-benign: #17b13b;
  --color-malignant: #b11717;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-800 m-0;
}

input[type="range"] {
  @apply w-full h-2 rounded-lg appearance-none cursor-pointer bg-gray-200;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 rounded-full bg-accent;
}

input[type="range"]::-moz-range-thumb {
  @apply w-4 h-4 rounded-full bg-accent border-0;
}
